@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><span style="color: mediumvioletred;">~Cali's Cat Breed Interactive Database~</span></h1>

    <br />
    <p> <a href="https://github.com/CaliWeber94" style="font-size: 24px;">See More of My projects On Github! </a>.</p>
    <br />
    <img id="homepageimage" src="https://tinyurl.com/48we2d55" height="600" width=" 800" style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);" />
</div>
<div>
<section style="display:flex; flex-direction: row; justify-content: space-between; justify-content: center; padding: 50px;">
    </section>
</div>
